.blog{
    margin-top: 40px;
    padding-top: 124px;
    background-color: #f7f7f7;
    
    @include mobile{margin-top: 80px;}
    img{
        width: 370px;
        height: 230px;
        margin-bottom: 28px;
        @include mobile{
            width: 100%;
            // height: 70px;
            margin-bottom: 20px;
        }
    }

    @include tablet{
        .col-md-4{
            height: 190px;
            padding-right: 0;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }

  
    .author--bold{
        color: black;
        font-weight: bold;
    }
    h2,h4,p  {
        text-align: center;
        font-size: 14px;
        font-family: $font_default;
        // @include mobile{
        //     font-size: 7px;
        // }
    }
    h4{
        font-weight: 700;  
        text-transform: uppercase;
        margin-bottom: 11px;
        
    }
   
    p{
        color: #dbdbdb;
        font-weight: 600;
        @include mobile{
            margin-bottom: 20px;
        }
    }
    h2{
        margin-bottom: 50px;
        font-size: 36px;
        font-weight: bold;
    }
    .line--top{
        margin-top: 82px;
        padding-bottom: 1rem;
        margin-bottom: 0;
        @include tablet{
            margin-top: 150px;
        }
        @include mobile{
            margin-top: 20px;
        }
    }
}