.client-say {
    position: relative;
    z-index: 20;
    width: 100%;
    margin-top: -2px;
    @include tablet{
        margin-top: 0px;
    }
    background-color: white;
    h2{
        padding-top: 88px;
        font-size: 36px;
        padding-bottom: 44px;
        font-weight: bold;
        @include mobile{
            font-size: 18px;
        }
    }
    .carousel-indicators{
        .active {
            background-color: $item_hover_color;
        }
        li{
            border-radius: 100%;
            width: 10px;
            height: 10px;
            background-color: #cccccc;
            margin-right: 6px;
        }
    }
    .carousel-item {
        height: 320px;
         .circle{
            width: 80px;
            height: 80px;
            background-image: url(img/client.png);
            background-size: 265%;
            background-position: -59px 0px;
            display: block;
            border-radius: 50%;
            margin: auto;
            margin-bottom: 22px;
        }
        .comment {
            width: 779px;
            margin: auto;
            @include mobile{
                width: 100%;
            }

            h4{
                text-transform: uppercase;
                font-weight: bold;
                font-size: 18px;
            }
            p{
                font-size: 18px;
                margin-right: 7px;
                line-height: 1.7;
                margin-bottom: 30px;
                
                color: $item_color;
                @include mobile{
                    font-size: 8px;
                }
            }
            p.happy-client{
                font-size: 14px;
                margin-right: 0;
                @include mobile{
                    font-size: 10px;
                }
            }

        }
    }
}