.foot {
    padding-top: 102px;
    @include mobile{
        padding-top: 35px;
    }
    background-color: #222222;
    .list-icon-sociation 
    {
        margin-top: 30px;
        margin-bottom: 54px;

        @include mobile{
            margin-top: 15px;
            margin-bottom: 30px;
        }

        li{
            display: inline-block;
            color: #777777;
            font-size: 15px;
            margin-top: 13px;
            margin-right: 16px;
            margin-left: 30px;
            // @include mobile{
            //     font-size: 8px;
            //     margin-right:0 ;
            // }
        }
    }
    
    img{
        margin-bottom: 36px;
        @include mobile{
            
            margin-bottom: 35px;
        }
    }
    p{
        margin: auto;
        width: 735px;
        font-size: 14px;
        line-height: 1.6;

        @include mobile{
            
            width: 300px;
            
        }
    }
    li,p{
        color: $item_color;
    }
   
    &__line{
        border-top: 1px solid $item_color;
    }
    .about-company {

        

        margin-top: 73px;
        margin-bottom: 10px;
        @include mobile{
            margin-top: 40px;
        }
        ul{
            list-style: none;
            li {
                font-size: 14px;
                padding-bottom: 19px;
                @include mobile{
                    //font-size: 4px;
                    padding-bottom: 15px;
                }
                @include tablet{
                    font-size: 12px;
                }
            }
        }
        &__icon{
            &--right{
                margin-right: 20px;
                // @include mobile{
                //     margin-right: 4px;
                // }
            }
        }
        
        h5{
            color: white;
            text-transform: uppercase;
            margin-bottom: 35px;
            font-weight: bold;
            font-size: 18px;
   

            @include mobile{
                //font-size: 10px;
                margin-bottom: 15px;
            }
        }
    }
    .block-end {
        background-color: #111111;
        padding-top: 16px;
        padding-bottom: 10px;
    }


}